body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: black;
    text-align: center;
    margin: 0;
    padding: 0;
    user-select: none;
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    pointer-events: none;
}

header {
    background: linear-gradient(45deg, #ff6b6b,#ffcc00);
    color: #fff;
    padding: 50px 0;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

.intro {
    margin: 20px;
    font-size: 1.2em;
}
.photo-gallery, .video-message, .music-controls {
    margin: 20px;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.photo-gallery h2, .video-message h2, .music-controls h2 {
    margin-bottom: 20px;
}
.photos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}

.photos img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.photos img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
video {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.music-controls button {
    padding: 10px 20px;
    background-color: #ff6b6b;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}
.music-controls button:hover {
    background-color: #e64e4e;
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    color: #fff;
    margin-top: 20px;
}

@media (max-width: 300px) {
    h1 {
        font-size: 1.5em;
    }
    .photos img {
        max-width: 100%;
    }
    video {
        max-width: 100%;
    }
    .music-controls button {
        width: 100%;
    }
}



